<div class="education">
  <h4>Formações</h4>
  <div class="row-education">
    <div class="container">
      <img src="../../../assets/reprograma.jpg" alt="">
      <div class="description">
        <h5>Bootcamp Frontend</h5>
        <p>Reprograma</p>
      </div>
    </div>

    <div class="container">
      <img src="../../../assets/reprograma.jpg" alt="">
      <div class="description">
        <h5>Bootcamp Frontend</h5>
        <p>Reprograma</p>
      </div>
    </div>

    <div class="container">
      <img src="../../../assets/reprograma.jpg" alt="">
      <div class="description">
        <h5>Bootcamp Frontend</h5>
        <p>Reprograma</p>
      </div>
    </div>
  </div>
</div>

